<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
</contextListener>

<!-- To enable JMX Management -->
<jmxConfigurator/>

<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %yellow([%thread]) %magenta(${PID}) --- [%t] %cyan(%logger{30}) : %msg%n</pattern>

   <!--     <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(-&#45;&#45;){faint} %clr([trace=%X{X-Trace-Id:-},span=%X{X-Span-Id:-}]){yellow} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex</pattern>
   --> </encoder>
</appender>

<!-- Specify logging levels -->
<logger name="javax" level="info"/>
<logger name="org.apache" level="info"/>
<logger name="com.sun" level="info"/>
<logger name="sun.net" level="info"/>

<logger name="org.hibernate" level="info"/>
<logger name="org.springframework" level="info"/>
<logger name="com.netflix" level="info"/>

<logger name="com.jservlet" level="info"/>

<root level="debug">
    <appender-ref ref="console"/>
</root>
</configuration>
